---
  
---
<html lang="en">
  <head>
  </head>

  <body>
    <div class="layout">
      <main class="content">
        <form action="https://app.convertkit.com/forms/[YOUR_FORM_ID]/subscriptions" method="post" data-sv-form="[YOUR_FORM_ID]" data-uid="[YOUR_UID]" data-version="5">
          <input type="email" name="email_address" placeholder="Email Address">
          <span>
              <button type="submit" data-element="submit">
                  Sign Up
              </button>
          </span>
        </form>
      </main>
    </div>
  </body>
</html>
